In [27]:
pip install gspread oauth2client

Requirement already satisfied: gspread in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (6.1.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: oauth2client in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (4.1.3)
Requirement already satisfied: google-auth>=1.12.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from gspread) (2.35.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from gspread) (1.2.1)
Requirement already satisfied: httplib2>=0.9.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from oauth2client) (0.22.0)
Requirement already satisfied: pyasn1>=0.1.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from oauth2client) (0.6.1)
Requirement already satisfied: pyasn1-modules>=0.0.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from oauth2client) (0.4.1)
Requirement already satisfied: rsa>=3.1.4 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from oauth2client) (4.9)
Requirement already satisfied: six>=1.6.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from oauth2client) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from google-auth>=1.12.0->gspread) (5.5.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from httplib2>=0.9.1->oauth2client) (3.1.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2024.8.30)

In [28]:
pip install gspread google-auth

Requirement already satisfied: gspread in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (6.1.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: google-auth in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.35.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from gspread) (1.2.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from google-auth) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from google-auth) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from google-auth) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2024.8.30)

In [29]:
import gspread 
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

In [30]:

scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
creds = ServiceAccountCredentials.from_json_keyfile_name("b2b-sales-analytics-878c5c7e1456.json", scope)
client = gspread.authorize(creds)

# Accounts 
sheet_1 = client.open("B2B-Sales-Analytics-with-SQL-Power-BI").worksheet('accounts')
data1 = sheet_1.get_all_records()
accounts = pd.DataFrame(data1)

# data_dictionary
sheet_2 = client.open("B2B-Sales-Analytics-with-SQL-Power-BI").worksheet('data_dictionary')
data2 = sheet_2.get_all_records()
data_dictionary = pd.DataFrame(data2)

# products 
sheet_3 = client.open("B2B-Sales-Analytics-with-SQL-Power-BI").worksheet('products')
data3 = sheet_3.get_all_records()
products = pd.DataFrame(data3)

# sales_pipeline
sheet_4 = client.open("B2B-Sales-Analytics-with-SQL-Power-BI").worksheet('sales_pipeline')
data4 = sheet_4.get_all_records()
sales_pipeline = pd.DataFrame(data4)

# sales_teams 
sheet_5 = client.open("B2B-Sales-Analytics-with-SQL-Power-BI").worksheet('sales_teams')
data5 = sheet_5.get_all_records()
sales_teams = pd.DataFrame(data5)

In [31]:
accounts.head()

,account,sector,year_established,revenue,employees,office_location,subsidiary_of
0,Acme Corporation,technolgy,1996,1100.04,2822,United States,
1,Betasoloin,medical,1999,251.41,495,United States,
2,Betatech,medical,1986,647.18,1185,Kenya,
3,Bioholding,medical,2012,587.34,1356,Philipines,
4,Bioplex,medical,1991,326.82,1016,United States,

In [32]:
import numpy as np
import pandas as pd 
#import seaborn as sns 
#import matplotlib.pyplot as plt

In [33]:
accounts.head()

,account,sector,year_established,revenue,employees,office_location,subsidiary_of
0,Acme Corporation,technolgy,1996,1100.04,2822,United States,
1,Betasoloin,medical,1999,251.41,495,United States,
2,Betatech,medical,1986,647.18,1185,Kenya,
3,Bioholding,medical,2012,587.34,1356,Philipines,
4,Bioplex,medical,1991,326.82,1016,United States,

In [34]:
data_dictionary.head()

      Table             Field                          Description
0  accounts           account                         Company name
1  accounts            sector                             Industry
2  accounts  year_established                     Year Established
3  accounts           revenue  Annual revenue (in millions of USD)
4  accounts         employees                  Number of employees

In [35]:
products.head()

        product series  sales_price
0     GTX Basic    GTX          550
1       GTX Pro    GTX         4821
2    MG Special     MG           55
3   MG Advanced     MG         3393
4  GTX Plus Pro    GTX         5482

In [36]:
sales_pipeline.head()

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517

In [37]:
sales_teams.head()

         sales_agent           manager regional_office
0      Anna Snelling  Dustin Brinkmann         Central
1     Cecily Lampkin  Dustin Brinkmann         Central
2  Versie Hillebrand  Dustin Brinkmann         Central
3    Lajuana Vencill  Dustin Brinkmann         Central
4        Moses Frase  Dustin Brinkmann         Central

In [38]:

# Accounts  

## Dropping the subsidiary_of since it has more than 60 %  blank data 
accounts = accounts.drop("subsidiary_of",axis=1)

In [39]:
accounts.head()

,account,sector,year_established,revenue,employees,office_location
0,Acme Corporation,technolgy,1996,1100.04,2822,United States
1,Betasoloin,medical,1999,251.41,495,United States
2,Betatech,medical,1986,647.18,1185,Kenya
3,Bioholding,medical,2012,587.34,1356,Philipines
4,Bioplex,medical,1991,326.82,1016,United States

In [40]:
# sales_pipeline
sales_pipeline.head(20)

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517
5,ZNBS69V1,Anna Snelling,MG Special,Ron-tech,Won,2016-10-29,2017-03-01,49
6,9ME3374G,Vicki Laflamme,MG Special,J-Texon,Won,2016-10-30,2017-03-02,57
7,7GN8Q4LL,Markita Hansen,GTX Basic,Cheers,Won,2016-11-01,2017-03-07,601
8,OLK9LKZB,Niesha Huffines,GTX Plus Basic,Zumgoity,Won,2016-11-01,2017-03-03,1026
9,HAXMC4IX,James Ascencio,MG Advanced,,Engaging,2016-11-03,,
10,NL3JZH1Z,Anna Snelling,MG Special,Bioholding,Won,2016-11-04,2017-03-10,53
11,KWVA7VR1,Gladys Colclough,GTXPro,Genco Pura Olive Oil Company,Lost,2016-11-04,2017-03-18,0
12,S8DX3XOU,James Ascencio,GTX Plus Pro,Sunnamplex,Won,2016-11-04,2017-03-10,5169
13,ENB2XD8G,Maureen Marcano,GTX Plus Pro,Sonron,Won,2016-11-04,2017-03-06,4631
14,09YE9QOV,Hayden Neloms,MG Advanced,Finjob,Won,2016-11-05,2017-03-11,3393
15,3F5MZNEH,Rosalina Dieter,MG Special,Sonron,Lost,2016-11-05,2017-03-03,0
16,M6WEJXC0,Rosalina Dieter,MG Advanced,Scotfind,Won,2016-11-05,2017-03-06,3284
17,6PTR7VBR,Versie Hillebrand,MG Special,Treequote,Won,2016-11-06,2017-03-05,61
18,902REDPA,Daniell Hammack,GTXPro,Xx-zobam,Lost,2016-11-07,2017-03-09,0
19,5J9CMGDV,Elease Gluck,MG Special,Rantouch,Won,2016-11-07,2017-03-08,46

In [41]:
sales_pipeline.isnull().sum()

opportunity_id    0
sales_agent       0
product           0
account           0
deal_stage        0
engage_date       0
close_date        0
close_value       0
dtype: int64

In [42]:
# Dropping null values from accounts data, as rows without company information lack significance.
sales_pipeline.replace("", pd.NA, inplace=True)
sales_pipeline.isnull().sum()

opportunity_id       0
sales_agent          0
product              0
account           1425
deal_stage           0
engage_date        500
close_date        2089
close_value       2089
dtype: int64

In [43]:
sales_pipeline = sales_pipeline.dropna(subset=['account'])
sales_pipeline.isnull().sum()

opportunity_id      0
sales_agent         0
product             0
account             0
deal_stage          0
engage_date       163
close_date        664
close_value       664
dtype: int64

In [44]:
# Accounts 
print(accounts.head())

# data_dictionary
print(data_dictionary.head())

# products 
print(products.head())

# sales_pipeline
print(sales_pipeline.head())

# sales_teams 
print(sales_teams.head())

            account     sector  year_established  revenue  employees  \
0  Acme Corporation  technolgy              1996  1100.04       2822
1        Betasoloin    medical              1999   251.41        495
2          Betatech    medical              1986   647.18       1185
3        Bioholding    medical              2012   587.34       1356
4           Bioplex    medical              1991   326.82       1016

  office_location
0   United States
1   United States
2           Kenya
3      Philipines
4   United States
      Table             Field                          Description
0  accounts           account                         Company name
1  accounts            sector                             Industry
2  accounts  year_established                     Year Established
3  accounts           revenue  Annual revenue (in millions of USD)
4  accounts         employees                  Number of employees
        product series  sales_price
0     GTX Basic    GTX          550
1       GTX Pro    GTX         4821
2    MG Special     MG           55
3   MG Advanced     MG         3393
4  GTX Plus Pro    GTX         5482
  opportunity_id      sales_agent         product  account deal_stage  \
0       1C1I7A6R      Moses Frase  GTX Plus Basic  Cancity        Won
1       Z063OYW0  Darcel Schlecht          GTXPro    Isdom        Won
2       EC4QE1BX  Darcel Schlecht      MG Special  Cancity        Won
3       MV1LWRNH      Moses Frase       GTX Basic  Codehow        Won
4       PE84CX4O        Zane Levy       GTX Basic   Hatfan        Won

  engage_date  close_date close_value
0  2016-10-20  2017-03-01        1054
1  2016-10-25  2017-03-11        4514
2  2016-10-25  2017-03-07          50
3  2016-10-25  2017-03-09         588
4  2016-10-25  2017-03-02         517
         sales_agent           manager regional_office
0      Anna Snelling  Dustin Brinkmann         Central
1     Cecily Lampkin  Dustin Brinkmann         Central
2  Versie Hillebrand  Dustin Brinkmann         Central
3    Lajuana Vencill  Dustin Brinkmann         Central
4        Moses Frase  Dustin Brinkmann         Central

## Export CSV files to SQL server

In [45]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.0.35)
Requirement already satisfied: pymysql in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

In [46]:
from sqlalchemy import create_engine

In [47]:
# change the /Ashish:Ashu#123 as USER:password of sql data base
engine = create_engine('mysql+pymysql://new_user:new_user#123@localhost/b2b')

In [48]:
#Import each DataFrame to MySQL   
accounts.to_sql('accounts', con=engine, if_exists='replace', index=False)
data_dictionary.to_sql('data_dictionary', con=engine, if_exists='replace', index=False)
products.to_sql('products', con=engine, if_exists='replace', index=False)
sales_pipeline.to_sql('sales_pipeline', con=engine, if_exists='replace', index=False)
sales_teams.to_sql('sales_teams', con=engine, if_exists='replace', index=False)

print("All data imported successfully!")

All data imported successfully!